.welcome {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  [class^='welcome__'] {
    font-size: 1rem;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-bottom: 0.5rem;
    transition: 0.1s ease-in all;
  }
  
  .welcome__title {
    font-weight: 700;
    font-size: 3rem;
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .welcome__login {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.75),
                0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  .welcome__username:focus, .welcome__password:focus {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1) inset;
  }
  
  
  .welcome__submit {
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 1);
  }
  
  .welcome__toggle {
    cursor: pointer;
    margin-bottom: 0;
  }
  
  .welcome__warning {
    color: darkred;
  }