@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  font-family: Montserrat;
  font-size: 12px;
  background-color: #f1e4c7;
  padding: 20px;
  color: #2F3330;
}

.staffContainer {
  background-color:lightgreen;
  padding: 50px;
  flex: 3;
}

.menuContainer {
  background-color: #f1e4c7;
  padding: 20px;
  flex: 3;
}

.dashboard {
  display: flex;
  background-color: #c80d36;
  padding: 6px;
}

.barList {
  background-color: #f1e4c7;
  padding: 20px;
  flex: 1;
  flex-direction: vertical;
}

.barDetails {
  background-color: #c80d36;
  padding-left: 6px;
  flex: 3;
}

.category__title {
  padding-top: 10px;
  font-weight: bold;
}

.category__listitem {
  font-style: italic;
}

.staff__name {
  padding-top: 10px;
  font-weight: bold;
}

.staff__email {
  font-style: italic;
}

.menuListItem {
  background-color: white;
}

h1 {
  color: #c80d36
}

h2 {
  color: #5E0035;
  font-weight: bold;
}
