.staffContainer {
  background-color:lightgreen;
  padding: 50px;
  flex: 3;
}

.menuContainer {
  background-color:lightsalmon;
  padding: 50px;
  flex: 3;
}

.dashboard {
  display: flex;
  background-color: lightblue;
  padding: 20px;
}

.barList {
  background-color: yellow;
  padding: 20px;
  flex: 1;
  flex-direction: vertical; 
}

.barDetails {
  background-color: pink;
  padding: 20px;
  flex: 3;
}

.category__title {
  padding-top: 10px;
  font-weight: bold;
}

.category__listitem {
  font-style: italic;
}

.staff__name {
  padding-top: 10px;
  font-weight: bold;
}

.staff__email {
  font-style: italic;
}

